@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  overflow: hidden;
}

.App {
  display: flex;
  margin: 0 5vw;
  width: 90vw;
}

.panel {
  position: relative;
  flex: 0.5;
  margin: 0.625rem;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  transition: flex 0.7s ease-in;
  cursor: pointer;
  h3 {
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
    font-size: 1.5rem;
    opacity: 0;
  }
  &.active {
    flex: 5;
    h3 {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
    }
  }
}

@media (max-width: 480px) {
  .App {
    margin: 0;
    width: 100vw;
  }

  .panel {
    &:nth-of-type(4),
    &:nth-of-type(5) {
      display: none;
    }
  }
}
